
          <h1>Getting started</h1>
          <h2>Here&rsquo;s how to get rolling:</h2>
          
          <ol>          
            <li>
              <h2>Retrieve an order url</h2>
              <p>Retrieve an order url from <a href="http://restfulie-test.heroku.com">the ordering system</a>.</p>
            </li>
            
            <li>
              <h2>Retrieve it</h2>
              <p><a href="commands/new">Visualize it</a>.</p>
            </li>

          </ol>
