<ol>
	<li><h2>Execute something</h2>
		<p>Fill in the url field.</p>
		<p>
			<% form_tag "/commands/show_rels" do %>
				url: <%= text_field_tag 'url' %>
				<%= submit_tag 'view available actions' %>
			<% end %>
		</p>
	</li>
</ol>